export ENV="development"

export PORT="3000"

export JWT_SECRET="mysuperbigsecret"
export API_KEY="myapikey"

export DB_HOST="127.0.0.1"
export DB_PORT="3306"
export DB_USER="root"
export DB_PASSWORD="mypassword"
export DB_NAME="highlights"

export GOOGLE_CLOUD_PROJECT_ID=""
export GOOGLE_CLOUD_BOOKS_BUCKET_NAME=""

export SENDGRID_API_KEY=""
export SENDGRID_FROM_EMAIL=""

export PUBLIC_URL="http://localhost:3000"