export ENV="development"

export PORT="3000"

export JWT_SECRET="mysuperbigsecret"
export API_KEY="myapikey"

export MONGODB_URI="mongodb://localhost:27017/boilerplate"

export SENDGRID_API_KEY=""
export SENDGRID_FROM_EMAIL=""

export PUBLIC_URL="http://localhost:3000"